# Ignoring Xcode files

*.xcuserstate
*.xccheckout
xcuserdata

PhoenixSDK/build/PhoenixSDK.build/all-product-headers.yaml
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/dgph
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/module.modulemap
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/PhoenixSDK-all-non-framework-target-headers.hmap
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/PhoenixSDK-all-target-headers.hmap
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/PhoenixSDK-generated-files.hmap
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/PhoenixSDK-own-target-headers.hmap
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/PhoenixSDK-project-headers.hmap
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/PhoenixSDK.hmap
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/swift-overrides.hmap
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/unextended-module-overlay.yaml
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/unextended-module.modulemap
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/DerivedSources/PhoenixSDK_vers.c
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/NSJSONSerializationHelpers.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/NSJSONSerializationHelpers.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/NSJSONSerializationHelpers.swiftdeps
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/NSURLRequest.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/NSURLRequest.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/NSURLRequest.swiftdeps
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixError.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixError.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixError.swiftdeps
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixIdentity.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixIdentity.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixIdentity.swiftdeps
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixLocation.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixLocation.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixLocation.swiftdeps
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixModule.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixModule.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixModule.swiftdeps
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixRegion.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixRegion.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixRegion.swiftdeps
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixSDK-master.swiftdeps
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixSDK-OutputFileMap.json
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixSDK.LinkFileList
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/TSDOperation.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/TSDOperation.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/TSDOperation.swiftdeps
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/armv7/PhoenixSDK-OutputFileMap.json
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/armv7/PhoenixSDK.LinkFileList
PhoenixSDK/build/Release-iphoneos/PhoenixSDK.framework/Info.plist
PhoenixSDK/docs/Classes.html
PhoenixSDK/docs/Enums.html
PhoenixSDK/docs/Extensions.html
PhoenixSDK/docs/index.html
PhoenixSDK/docs/Protocols.html
PhoenixSDK/docs/Typealiases.html
PhoenixSDK/docs/undocumented.txt
PhoenixSDK/docs/Classes/Phoenix.html
PhoenixSDK/docs/css/highlight.css
PhoenixSDK/docs/css/jazzy.css
PhoenixSDK/docs/docsets/.tgz
PhoenixSDK/docs/docsets/.docset/Contents/Info.plist
PhoenixSDK/docs/docsets/.docset/Contents/Resources/docSet.dsidx
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Classes.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Enums.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Extensions.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/index.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Protocols.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Typealiases.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/undocumented.txt
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Classes/Phoenix.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/css/highlight.css
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/css/jazzy.css
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Enums/ConfigurationError.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Enums/IdentityError.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Enums/LocationError.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Enums/RequestError.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Enums/UserType.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Extensions/Phoenix.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Extensions/Phoenix/Configuration.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Extensions/Phoenix/Region.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Extensions/Phoenix/User.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/img/carat.png
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/img/dash.png
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/img/gh.png
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/js/jazzy.js
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/js/jquery.min.js
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Protocols/PhoenixIdentity.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Protocols/PhoenixModule.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Protocols/PhoenixNetworkDelegate.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Protocols/PhoenixUser.html
PhoenixSDK/docs/Enums/ConfigurationError.html
PhoenixSDK/docs/Enums/IdentityError.html
PhoenixSDK/docs/Enums/LocationError.html
PhoenixSDK/docs/Enums/RequestError.html
PhoenixSDK/docs/Enums/UserType.html
PhoenixSDK/docs/Extensions/Phoenix.html
PhoenixSDK/docs/Extensions/Phoenix/Configuration.html
PhoenixSDK/docs/Extensions/Phoenix/Region.html
PhoenixSDK/docs/Extensions/Phoenix/User.html
PhoenixSDK/docs/img/carat.png
PhoenixSDK/docs/img/dash.png
PhoenixSDK/docs/img/gh.png
PhoenixSDK/docs/js/jazzy.js
PhoenixSDK/docs/js/jquery.min.js
PhoenixSDK/docs/Protocols/PhoenixIdentity.html
PhoenixSDK/docs/Protocols/PhoenixModule.html
PhoenixSDK/docs/Protocols/PhoenixNetworkDelegate.html
PhoenixSDK/docs/Protocols/PhoenixUser.html
demopatch.diff
patch.diff
PhoenixDemo-ObjectiveC/PhoenixDemo-ObjectiveC.xcodeproj/project.pbxproj.rej
PhoenixDemo-Swift/PhoenixDemo-Swift.xcodeproj/project.pbxproj.rej
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/AuthenticationRequestOperation.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/AuthenticationRequestOperation.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/AuthenticationRequestOperation.swiftdeps
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/CreateUserRequestOperation.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/CreateUserRequestOperation.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/CreateUserRequestOperation.swiftdeps
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Protocols/PhoenixConfigurationProtocol.html
PhoenixSDK/docs/Protocols/PhoenixConfigurationProtocol.html
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixEvent.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixEvent.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixEvent.swiftdeps
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixEventQueue.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixEventQueue.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixEventQueue.swiftdeps
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixGeofenceExitEvent.d
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixGeofenceExitEvent.dia
PhoenixSDK/build/PhoenixSDK.build/Release-iphoneos/PhoenixSDK.build/Objects-normal/arm64/PhoenixGeofenceExitEvent.swiftdeps
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Extensions/Phoenix/Event.html
PhoenixSDK/docs/docsets/.docset/Contents/Resources/Documents/Protocols/PhoenixAnalytics.html
PhoenixSDK/docs/Extensions/Phoenix/Event.html
PhoenixSDK/docs/Protocols/PhoenixAnalytics.html
